<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Player</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            padding: 20px;
            margin: 0;
        }

        .video-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-gap: 20px;
        }

        video {
            width: 100%;
            max-height: 500px;
            border-radius: 8px;
        }

    </style>
</head>
<body>
    <form action="{% url 'add_vid_id' id=id %}">
        <input type="number" name ="vid_id" required>
        <button type="submit">Add Id</button>
        </form>
        <h2>Video Player</h2>
    <div class="video-container">
        {% for values in context %}
        <div class="image-gallery">
        <video controls>
            <source src="{{values.url}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        </div>
        {% endfor %}
    </div>
</body>
</html>
